<p>basic-form works!</p>

<div>
  Name : {{ nameField.value }} <br />
  <input type="text" [formControl]="nameField" />
</div>

<div>
  Email : {{ emailField.value }} <br />
  <input type="tel" [formControl]="emailField" />
</div>
<div>
  Color : {{ colorField.value }} <br />
  <input type="color" [formControl]="colorField" />
</div>
<div>
  Date : {{ dateField.value }} <br />
  <input type="date" [formControl]="dateField" />
</div>
<div>
  Number : {{ numberField.value }} <br />
  <input type="number" [formControl]="numberField" />
</div>

<!-- select  -->

<div>
    
</div>
